// ==========================================================================
// Global Config
// ==========================================================================

// Path to Assets
$path-img: '../img/';
$path-font: '../fonts/';

// Icon Fonts
@font-face {
  font-family: 'icomoon';
  src:  url('#{$path-font}icomoon.eot?ky9gej');
  src:  url('#{$path-font}icomoon.eot?ky9gej#iefix') format('embedded-opentype'),
    url('#{$path-font}icomoon.ttf?ky9gej') format('truetype'),
    url('#{$path-font}icomoon.woff?ky9gej') format('woff'),
    url('#{$path-font}icomoon.svg?ky9gej#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

// Font Stacks
$font-url--poppins : 'http://fonts.googleapis.com/css?family=Poppins:100,300,400,700,900';
$font-url--lato : 'http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900';
$font-family--primary    : 'Poppins', sans-serif;
$font-family--secondary  : 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;

// Import Fonts
@include font-import($font-url--poppins);
@include font-import($font-url--lato);

// Font Size


// Font Weights
$font-w-xlight: 100;
$font-w-light: 300;
$font-w-normal: 400;
$font-w-bold: 700;
$font-w-xbold: 900;

// Descriptive Colors
$white: #fff;
$light-grey: #f5f5f5;
$google: #4387f6;
$trustpilot: #00b67b;


// Color Usage
$color-palettes: (
	netmatters: (
    purple: #926fb1,
    orange: #e8a008,
    lightblue: #2a6ec6,
    green: #2ecc71,
    red: #c42e2a,
    brown-red:#ce4125,
    pink: #f62459,
    grey: #67809f,
    dark-grey: #333654,
    very-dark-grey: #999AA2,
    blue: #4183d7,
    light-orange: #f7b322,
    tomato: #d64541
  )
);

// Section colours
$news-case-studies: #926fb1;
$news-careers: #4183d7;
$news-news: #4183d7;

// Color Palette Modifiers


// UI Colors
$background-primary: $light-grey;
$background-secondary: #323544;
$background-accent: #212330;

// Text


// Border
$br--color: #ccc;
$br--radius-small: 3px;
$br--radius: 6px;
$br--radius-large: 15px;

// Transitions


// Site Container
$global-padding: 15px;

// Grid
$g-col-count: 12;
$g-gutter-width: 30px;

// Breakpoints
$break-small: 480px;
$break-medium: 768px;
$break-large: 992px;
$break-extra-large: 1260px;

// Content max in relation to breakpoints
$cont-max-width-s: 450px;
$cont-max-width-m: 750px;
$cont-max-width-l: 970px;
$cont-max-width: 1200px;