// ==========================================================================
// Global Config
// ==========================================================================

// Path to Assets
$path-img: '../img/';
$path-font: '../fonts/';

// Icon Fonts
@font-face {
  font-family: 'icomoon';
  src:  url('#{$path-font}icomoon.eot?ky9gej');
  src:  url('#{$path-font}icomoon.eot?ky9gej#iefix') format('embedded-opentype'),
    url('#{$path-font}icomoon.ttf?ky9gej') format('truetype'),
    url('#{$path-font}icomoon.woff?ky9gej') format('woff'),
    url('#{$path-font}icomoon.svg?ky9gej#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

// Font Stacks
$font-url--poppins : 'http://fonts.googleapis.com/css?family=Poppins:100,300,400,700,900';
$font-url--lato : 'http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900';
$font-family--primary    : 'Poppins', sans-serif;
$font-family--secondary  : 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;

// Import Fonts
@include font-import($font-url--poppins);
@include font-import($font-url--lato);

// Font Size


// Font Weights
$font-w-xlight: 100;
$font-w-light: 300;
$font-w-normal: 400;
$font-w-bold: 700;
$font-w-xbold: 900;

// Descriptive Colors
$white: #fff;
$light-grey: #f5f5f5;
$dark-grey: #333645;

// Color Usage
$color-palettes: (
  general: (
    netmatters: ( base: #926fb1, ),
    section-headings: (base : #333645, ),
    text: ( 
      base: #333645, 
      light: $white,
      grey: #a3a8ac,
    ),
  ),
  inputs: (
    search1: (
      base: rgba(0, 0, 0, .1),
      border: rgba(0, 0, 0, .2),
    ),
    search2: ( base: #999AA2, ), 
  ),
  header: ( 
    button: (
      base: #333645,
      light: #999aa2,
      support: #4183d7,
      dark: #2F3240,
    ), 
    logo: ( base: #333645, ),
    nav: ( base: #333645, ),
  ),
  services: (
    software: (
      base: #67809f,
      alt: #f7b322,
    ),
    it-support: ( base: #4183d7, ),
    marketing: ( base: #2ecc71, ),
    telecoms: ( base: #d64541, ),
    web-design: ( base: #926fb1, ),
    security: ( base: #f62459, ),
    training: ( base: #ce4125, ),
  ),
  news: (
    case-studies: ( base: #926fb1, ),
    careers: ( base: #4183d7, ),
    news: ( base: #4183d7, ),
  ),
  partners: (
    btn1: ( base: #f7b322 ),
    btn2: ( base: #2ecc71),
    btn3: ( base: #926fb1 ),
  ),
  brands: (
    google: ( base: #4387f6, ),
    trustpilot: ( base: #00b67b, ),
    facebook: ( base: #3B5998, ),
    twitter: ( base: #00ACED, ),
    linkedin: ( base: #0077B5, ),
    instagram: ( base: #D93175, ),
  )
);

// UI Colors
$background-primary: $light-grey;
$background-secondary: #323544;
$background-accent: #212330;

// Border
$br--color: #ccc;
$br--radius-small: 3px;
$br--radius: 6px;
$br--radius-large: 15px;

// Site Container
$global-padding: 15px;

// Grid
$g-col-count: 12;
$g-gutter-width: 30px;

// Breakpoints
$break-small: 480px;
$break-medium: 768px;
$break-large: 992px;
$break-extra-large: 1260px;

// Content max in relation to breakpoints
$cont-max-width-s: 450px;
$cont-max-width-m: 750px;
$cont-max-width-l: 970px;
$cont-max-width: 1200px;