// ==========================================================================
// Mixins
// ==========================================================================

// Text Color
@mixin text-color {
  @if not (background-color == $white) {
    color: $white;
  }
}


// BEM selectors


// Media queries
@mixin mq($break) {
  @if $break == 's' {
    @media (min-width: $break-small) {
      @content;
    }
  }
  @else if $break == 'm' {
    @media (min-width: $break-medium) {
      @content;
    }
  }
  @else if $break == 'l' {
    @media (min-width: $break-large) {
      @content;
    }
  }
  @else if $break == 'xl' {
    @media (min-width: $break-extra-large) {
      @content;
    }
  }
  @else {
    @error "Break-point #{$break} does not exist, check spelling and remember format is like: 's' or 'xl'.";
  }
}

// Generate modifier color classes


// Generating :before or :after pseudo-element shapes


// Image replacement

      
// Adjacent sibling margins


// Grid Columns
@mixin g-columns($max-width) {
  @for $i from 1 through $g-col-count {
    // Calulate all gutters combined
    $gutters: ($g-gutter-width * ($g-col-count - 1));
    // calculate a standard column width based on max width defined in config and column count.
    $col-width: (($max-width - $gutters)/ $g-col-count);
    // calculate target size for each column value.
    $cur-width: (($col-width * $i) + ($g-gutter-width * ($i - 1)));
    // Generate column modifier classes
    &--#{($i)} {
      // take the target size and make it a percentage based on full width.
      width: percentage($cur-width/$max-width);
    }
  }
}        

// Header & services mixin.
@mixin services{
  &bespoke-software {
    // Colours for Bespoke Software
    $color-primary: palette(netmatters,grey);
    $color-secondary: palette(netmatters,light-grey);
    $color-accent: palette(netmatters,light-orange);

    // Rules
    .module-services-icon, &:hover{
      background-color: $color-primary;
    }
    .btn-readmore {
      background-color: $color-accent;
    }
    .nav-item-icon {
      color: $color-primary;
    }
    .nav-item-expand {
      background-color: $color-secondary;
    }
    .nav-item-expand-accent-arrow {
      grid-column: 1 / span 1;
      border-top: 30px solid $color-primary;
    }
  }

  &it-support {
    // Colours
    $color-primary: palette(netmatters,blue);
    $color-secondary: palette(netmatters,other-blue);

    // Rules
    .module-services-icon, .btn-readmore, &:hover {
      background-color: $color-primary;
    }
    .nav-item-icon {
      color: $color-primary;
    }
    .nav-item-expand {
      background-color: $color-secondary;
    }
    .nav-item-expand-accent-arrow {
      grid-column: 2 / span 1;
      border-top: 30px solid $color-primary;
    }
  }

  &digital-marketing {
    $color-primary: palette(netmatters,green);
    $color-secondary: palette(netmatters,light-green);

    .module-services-icon, .btn-readmore, &:hover {
      background-color: $color-primary;
    }
    .nav-item-icon {
      color: $color-primary;
    }
    .nav-item-expand {
      background-color: $color-secondary;
    }
    .nav-item-expand-accent-arrow {
      grid-column: 3 / span 1;
      border-top: 30px solid $color-primary;
    }
  }

  &telecoms-services {
    $color-primary: palette(netmatters,tomato);
    $color-secondary: palette(netmatters,light-red);

    .module-services-icon, .btn-readmore, &:hover {
      background-color: $color-primary;
    }
    .nav-item-icon {
      color: $color-primary;
    }
    .nav-item-expand {
      background-color: $color-secondary;
    }
    .nav-item-expand-accent-arrow {
      grid-column: 4 / span 1;
      border-top: 30px solid $color-primary;
    }
  }

  &web-design {
    $color-primary: palette(netmatters,purple);
    $color-secondary: #79539A;

    .module-services-icon, .btn-readmore, &:hover {
      background-color: $color-primary;
    }
    .module-services-icon{
      font-size: 2rem;
    }
    .nav-item-icon {
      color: $color-primary;
    }
    .nav-item-expand {
      background-color: $color-secondary;
    }
    .nav-item-expand-accent-arrow {
      grid-column: 5 / span 1;
      border-top: 30px solid $color-primary;
    }
  }

  &cyber-security {
    $color-primary: palette(netmatters,pink);
    $color-secondary: #DE0A3F;

    .module-services-icon, .btn-readmore, &:hover {
      background-color: $color-primary;
    }
    .nav-item-icon {
      color: $color-primary;
    }
    .nav-item-expand {
      background-color: $color-secondary;
    }
    .nav-item-expand-accent-arrow {
      grid-column: 6 / span 1;
      border-top: 30px solid $color-primary;
    }
  }

  &developer-training {
    $color-primary: palette(netmatters,brown-red);
    $color-secondary: #A3331D;

    .module-services-icon, .btn-readmore, &:hover {
      background-color: $color-primary;
    }
    .nav-item-icon {
      color: $color-primary;
    }
    .nav-item-expand {
      background-color: $color-secondary;
    }
    .nav-item-expand-accent-arrow {
      grid-column: 7 / span 1;
      border-top: 30px solid $color-primary;
    }
  }
}