// ==========================================================================
// Mixins
// ==========================================================================

// Text Color
@mixin text-color {
  @if not (background-color == $white) {
    color: $white;
  }
}


// BEM selectors


// Media queries
@mixin mq($break) {
  @if $break == 's' {
    @media (min-width: $break-small) {
      @content;
    }
  }
  @else if $break == 'm' {
    @media (min-width: $break-medium) {
      @content;
    }
  }
  @else if $break == 'l' {
    @media (min-width: $break-large) {
      @content;
    }
  }
  @else if $break == 'xl' {
    @media (min-width: $break-extra-large) {
      @content;
    }
  }
  @else {
    @error "Break-point #{$break} does not exist, check spelling and remember format is like: 's' or 'xl'.";
  }
}

// Generate modifier color classes


// Generating :before or :after pseudo-element shapes


// Image replacement

      
// Adjacent sibling margins


// Grid Columns
@mixin g-columns($max-width) {
  @for $i from 1 through $g-col-count {
    // Calulate all gutters combined
    $gutters: ($g-gutter-width * ($g-col-count - 1));
    // calculate a standard column width based on max width defined in config and column count.
    $col-width: (($max-width - $gutters)/ $g-col-count);
    // calculate target size for each column value.
    $cur-width: (($col-width * $i) + ($g-gutter-width * ($i - 1)));
    // Generate column modifier classes
    &--#{($i)} {
      // take the target size and make it a percentage based on full width.
      width: percentage($cur-width/$max-width);
    }
  }
}        

// Header & services mixin.
@mixin services{
  &bespoke-software {
    .module-services-icon {
      background-color: palette(netmatters,grey);
    }
    .btn-readmore {
      background-color: palette(netmatters,light-orange);
    }
    .nav-item-icon {
      color: palette(netmatters,grey);
    }
  }
  &it-support {
    .module-services-icon, .btn-readmore {
      background-color: palette(netmatters,blue);
    }
    .nav-item-icon {
      color: palette(netmatters,blue);
    }
  }
  &digital-marketing {
    .module-services-icon, .btn-readmore {
      background-color: palette(netmatters,green);
    }
    .nav-item-icon {
      color: palette(netmatters,green);
    }
  }
  &telecoms-services {
    .module-services-icon, .btn-readmore {
      background-color: palette(netmatters,tomato);
    }
    .nav-item-icon {
      color: palette(netmatters,tomato);
    }
  }
  &web-design {
    .module-services-icon, .btn-readmore {
      background-color: palette(netmatters,purple);
    }
    .module-services-icon{
      font-size: 2rem;
    }
    .nav-item-icon {
      color: palette(netmatters,purple);
    }
  }
  &cyber-security {
    .module-services-icon, .btn-readmore{
      background-color: palette(netmatters,pink);
    }
    .nav-item-icon {
      color: palette(netmatters,pink);
    }
  }
  &developer-training {
    .module-services-icon, .btn-readmore {
      background-color: palette(netmatters,brown-red);
    }
    .nav-item-icon {
      color: palette(netmatters,brown-red);
    }
  }
}