// ==========================================================================
// Container
// ==========================================================================

.container {
  display: grid;
  width: 100%;
  margin: 0 auto;
  padding-left: $global-padding;
  padding-right: $global-padding;
  @include mq(m) {
    width: $cont-max-width-m;
  }
  @include mq(l) {
    width: $cont-max-width-l;
  }
  @include mq(xl) {
    width: $cont-max-width;
  }
}