// ==========================================================================
// Placeholders
// ==========================================================================

// Flex Box Column
%flex-column {
  display: flex;
  flex-direction: column;
  flex: 1;
}