// ==========================================================================
// Base Styles
// ==========================================================================

:root {
  font-size: 1rem;
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: $font-family--primary;
  font-style: normal;
  font-weight: normal;
  width: 100%;
  background-color: $background-primary;
  overflow-x: hidden;
  position: relative;
}

* {
box-sizing: border-box;
}

// Lists
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

// Links
a {
  @include text-color;
  text-decoration-line: none;
  &:active, &:hover {
    text-decoration-line: underline;
  }
}

// Quote
blockquote, figcaption {
  margin: 16px 0;
}

// Images


// Form elements


// Button


// Layout

