// ==========================================================================
// Base Styles
// ==========================================================================

:root {
  font-size: 1rem;
}

body {
  @include text-color;
  margin: 0;
  font-family: $font-family--primary;
  width: 100%
}

* {
box-sizing: border-box;
}

// Lists
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

// Links
a {
  @include text-color;
  text-decoration-line: none;
  &:active {
    text-decoration-line: underline;
  }
}

// Images


// Form elements


// Button


// Layout

