.banner{
  @include text-color;
  background-image: url(#{$path-img}banner/home-YLei.webp);
  background-color: rgba(0,0,0,0.6);
  @include mq(l) {
    background-image: url(#{$path-img}banner/home-YLei.webp), linear-gradient(to right, black, rgba(0,0,0,0) 70%);
    background-color: transparent;
  }
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  height: 550px;
}

.banner-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 500px;
  @include mq(l) {
    align-items: start;
  }
}

.banner-element {
  width: 100vw;
  padding: 0 10px;
  text-align: center;
  display: none;
  h1, h2 {
    font-size: 2.5em;
    font-weight: $font-w-light-bold;
  }
  p {
    font-size: 1.25rem;
    font-weight: $font-w-light-bold;
    line-height: 1.75rem;
  }
  @include mq(l) {
    text-align: left;
    h1, h2 {
      font-size: 4rem;
      margin: 0;
      font-weight: $font-w-light-bold;
    }
    p {
      font-size: 1.625rem;
      font-weight: $font-w-light-bold;
      line-height: 2.5rem;
    }
  }
}

.banner-dots {
  // Local Variables
  $dot-base-size: 11px;
  $dot-base-margin: 4px;
  $dot-base-border: 2px;
  $dot-list-margin: 10px;
  $dot-list-size: calc(#{$dot-base-size} + (2 * (#{$dot-base-margin} + #{$dot-base-border})));
  // Styling
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  
  *:focus-visible {
  outline-width: 0;
  } 
  li {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: $dot-list-size;
    height: $dot-list-size;
    margin: $dot-list-margin;
    &.slick-active {
      border: #{$dot-base-border} solid palette(banner,dots,highlight);
      border-radius: 50%;
      button {
        background-color: palette(banner,dots,highlight);
      }
    }
  }
  button {
    cursor: pointer;
    margin: $dot-base-margin; 
    background-color: palette(banner,dots,base);
    border: 0px;
    padding: 0px;
    width: $dot-base-size;
    height: $dot-base-size;
    border-radius: 50%;
    text-indent: -9999px;
  }
}