// ==========================================================================
// Buttons
// ==========================================================================

.btn-social-media {
  background-color: $background-accent;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 70px;
  max-width: 120px;
  flex: 1 50%;
  height: 56px;
  padding-top: 5px;
  margin: 0 10px 10px 0;
  @media (min-width: 480px) {
    flex: 25%;
  }
}

.btn-base {
  @extend %btn;
}

.btn-readmore {
  @extend %btn;
}

[class^="module-welcome-button"], [class^="button-banner"] {
  @extend %btn;
  font-size: 20px;
}

// Buttons for the welcome module
.module-welcome-button {
  &-base {
    background-color: $background-accent;
  }
  &-google {
    background-color: palette(brands,google);
  }
  &-trustpilot {
    background-color: palette(brands,trustpilot);
  }
}

// Buttons for the banner
.banner-element {
  .button-banner {
    background-color: palette(general, netmatters);
  }
}

// Buttons for news 
.module-news-tag {
  @extend %btn;
  border-radius: 0;
  position: absolute;
  right: 0;
  top: 2%;
  padding: 0 10px 0;
  font-size: .75rem;
  font-weight: $font-w-bold;
  line-height: 1.438rem;
  z-index: 3;
}
[class^="module-news-item-link"] {
  width: 100%;
  height: 100%;
}

.module-news-article {
  &-case-studies {
    .module-news-tag, .btn-readmore {
      background-color: palette(news, case-studies);
    }
  }
  &-careers {
    .module-news-tag, .btn-readmore {
      background-color: palette(news, careers);
    }
  }
  &-news {
    .module-news-tag, .btn-readmore {
      background-color: palette(news, news);
    }
  }
}

// Header
// Hamburger (sidenav toggle)
.btn-sidenav-toggle, .btn-call-netmatters, .btn-support, .btn-contact {
  span {
    font-size: 40px;
  }
  display: flex;
  text-align: center;
  align-content: center;
}
.btn-sidenav-toggle {
  @extend %btn;
  padding-left: 13px;
  padding-right: 13px;
  background-color: palette(header, button);
  border-radius: $br--radius-small;
}
.btn-call-netmatters {
  display: inline-block;
  color:palette(header, button);
}
.btn-support {
  @extend %btn;
  background-color: palette(header, button, support);
}
.btn-contact {
  @extend %btn;
  background-color: palette(header, button, light);
}

// Privacy Policy Button
.btn-manage-consent {
  // Layout
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 5;
  // Formatting
  background-color: palette(header, button, light, dark);
  &:hover {
    background-color: palette(header, button, light);
  }
  border-radius: 0 $br--radius-small 0 0;
  padding: 3px 10px;
  // Text
  color: palette(general, text, light);
  font-size: 0.8rem;
}

// Live Chat icon
.btn-live-chat {
  // Local Placeholders
  $position-spacing: 25px;
  // Layout
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: $position-spacing;
  right: $position-spacing;
  z-index: 5;
  // Formatting
  background-color: palette(header, button, dark);
  border-radius: 50%;
  padding: 20px;
  // Icon
  font-size: 25px;
}

// Partners hover element
.module-partners-flex {
  a {
    @extend %btn;
    width: 100%;
    margin: 0;
    padding: 10px 0;
  }
  .module-partners-item {
    &:nth-child(3n) a {
      background-color: palette(partners,btn1);
    }
    &:nth-child(3n+1) a {
      background-color: palette(partners,btn2);
    }
    &:nth-child(3n+2) a {
      background-color: palette(partners,btn3);
    }
  }
}