// ==========================================================================
// Placeholders
// ==========================================================================

// Nav Items


// Headlines


// Buttons
%btn {
  border: 0;
  color: $white;
  // The padding 0.2em to counteract the extra space for lower-part of lower case letters. This will fully center the text with any text size.
  text-transform: uppercase;
  padding: 10px 30px;
  margin: 6px 0;
  border-radius: $br--radius;
  display: inline-block;
}

%btn-hover {
  &:hover {
    opacity: 75%;
  }
}

%btn-active {
  &:active {
    opacity: 75%;
  }
}
// Icons
