// ==========================================================================
// Placeholders
// ==========================================================================

// Nav Items


// Headlines
%section-heading {
  $header-text-color: palette(general, section-headings);
  margin: 50px 0 15px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  h2 {
    display: inline-block;
    color: $header-text-color;
    margin: 0;
    font-size: 2.25rem;
  }
  a {
    color: $header-text-color;
    font-size: 1.625rem;
    font-weight: $font-w-bold;
    display: none;
    @include mq(m) {
      display: block;
    }
  }
}

// Buttons
%btn {
  // layout
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 4px; // for between icon and button
  // external layout
  margin: 6px 0;
  // button decoration
  border: 0;
  padding: 10px 30px;
  border-radius: $br--radius;
  // text decoration
  color: $white;
  text-transform: uppercase;
  text-wrap: nowrap;
}

// Icons
%icomoon {
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}