header {
  background-color: $white;
  width: 100%;
  position: relative; // This is for nav hover containers.
  > .container{
    padding: $global-padding;
  }

  // Media Queries
  .input-search-2, .btn-support, .btn-contact, nav {
    display: none;
  }
  @include mq(m) {
    .input-search-1, .btn-call-netmatters {
      display: none;
    }
    .input-search-2 {
      display: flex;
    }
  }
  @include mq(l) {
    .input-search-2 {
      button {
        border-radius: $br--radius-small;
        
      }
      input {
        display: none;
      }
    }
    .btn-support, .btn-contact {
      display: flex;
    }
    nav {
      display: block;
    }
  }
  @include mq(xl) {
    .input-search-2 {
      button {
        border-radius: 0 $br--radius-small $br--radius-small 0;
      }
      input {
        display: block;
      }
    }
  }
}

.header-top-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  img {
    display: block;
    max-width: 100%;
    max-height: 66px;
    flex: 1 1;
    min-width: 0;
    object-fit: contain;
    object-position: left;
  }
}

.header-top-buttons {
  padding-top: 5px;
  display: flex;
  align-items: center;
  flex: 0 0;
  white-space: nowrap;
  a, div {
    margin-left: 10px;
  }
}