// ==========================================================================
// Icons
// ==========================================================================

// Logo

// UI

// Custom Icon Sets
.icon-5stars:before {
  content: "\e915 \e915 \e915 \e915 \e915";
  color: orange;
  font-size: 50px;
  letter-spacing: 0.1em;
}

@mixin hamburger-button($icon-size, $icon-thickness) {
  width: $icon-size;
  height: $icon-thickness;
  background-color: palette(general,text,light);
}
.hamburger-button {
  // Local Variables & Calculations
  $icon-size: 33px;
  $icon-thickness: 4px;

  // Old calculations - I should be able to pass $icon-positioning to top & bottom but there is bug that makes $icon-positioning two different sizes? 
  // $icon-top-bottom-padding: 8px;
  // $icon-inner-gap: calc(-1 * (((#{$icon-size} - (#{$icon-top-bottom-padding} * 2)) - (3 * #{$icon-thickness})) / 2));
  // $icon-positioning: calc(#{$icon-inner-gap} - #{$icon-thickness});

  // Replacement value
  $icon-positioning: -10px;

  // Layout
  position: relative;
  // Styling
  &, &::before, &::after {
    @include hamburger-button($icon-size, $icon-thickness);
  }
  &::before, &::after { 
    content: "";
    position: absolute;
  }
  &::before { 
    // This is the top element of the hamburger
    top: $icon-positioning;
  }
  &::after {
    // This is the bottom element of the hamburger
    bottom: $icon-positioning;
  }
} 

@mixin icomoon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
// Icons from Icomoon
[class^="icon-"], [class*=" icon-"] {
  @include icomoon;
}

.icon-chat:before {
  content: "\e900";
}
.icon-bubble:before {
  content: "\e900";
}
.icon-comment:before {
  content: "\e900";
}
.icon-talk:before {
  content: "\e900";
}
.icon-dollar:before {
  content: "\e901";
}
.icon-bill:before {
  content: "\e901";
}
.icon-money:before {
  content: "\e901";
}
.icon-hard-drive:before {
  content: "\e902";
}
.icon-double_arrow:before {
  content: "\e932";
}
.icon-speed:before {
  content: "\e903";
}
.icon-computer:before {
  content: "\e904";
}
.icon-laptop:before {
  content: "\e904";
}
.icon-compare_arrows:before {
  content: "\e905";
}
.icon-mouse:before {
  content: "\e906";
}
.icon-school:before {
  content: "\e907";
}
.icon-security:before {
  content: "\e908";
}
.icon-phone_in_talk:before {
  content: "\e909";
}
.icon-question:before {
  content: "\e90a";
}
.icon-lock-closed:before {
  content: "\e90b";
}
.icon-shopping-cart:before {
  content: "\e90c";
}
.icon-envelope:before {
  content: "\e90d";
}
.icon-shuffle:before {
  content: "\e90e";
}
.icon-file:before {
  content: "\e90f";
}
.icon-paper:before {
  content: "\e90f";
}
.icon-search:before {
  content: "\e910";
}
.icon-zoom:before {
  content: "\e910";
}
.icon-magnifier:before {
  content: "\e910";
}
.icon-magnifying-glass:before {
  content: "\e910";
}
.icon-bars:before {
  content: "\e911";
}
.icon-instagram:before {
  content: "\e912";
}
.icon-brand:before {
  content: "\e912";
}
.icon-social:before {
  content: "\e912";
}
.icon-linkedin:before {
  content: "\e913";
}
.icon-brand1:before {
  content: "\e913";
}
.icon-social1:before {
  content: "\e913";
}
.icon-facebook:before {
  content: "\e914";
}
.icon-brand2:before {
  content: "\e914";
}
.icon-social2:before {
  content: "\e914";
}
.icon-star-full:before {
  content: "\e915";
}
.icon-rate:before {
  content: "\e915";
}
.icon-star:before {
  content: "\e915";
}
.icon-favorite:before {
  content: "\e915";
}
.icon-bookmark:before {
  content: "\e915";
}
.icon-arrow-left:before {
  content: "\e916";
}
.icon-left:before {
  content: "\e916";
}
.icon-previous:before {
  content: "\e916";
}
.icon-arrow-down:before {
  content: "\e917";
}
.icon-down:before {
  content: "\e917";
}
.icon-download1:before {
  content: "\e917";
}
.icon-bottom:before {
  content: "\e917";
}
.icon-arrow-up:before {
  content: "\e918";
}
.icon-up:before {
  content: "\e918";
}
.icon-upload:before {
  content: "\e918";
}
.icon-top:before {
  content: "\e918";
}
.icon-arrow-right:before {
  content: "\e919";
}
.icon-right:before {
  content: "\e919";
}
.icon-next:before {
  content: "\e919";
}
.icon-bullhorn:before {
  content: "\e91a";
}
.icon-megaphone:before {
  content: "\e91a";
}
.icon-announcement:before {
  content: "\e91a";
}
.icon-advertisement:before {
  content: "\e91a";
}
.icon-news:before {
  content: "\e91a";
}
.icon-ticket:before {
  content: "\e91b";
}
.icon-theater:before {
  content: "\e91b";
}
.icon-cinema:before {
  content: "\e91b";
}
.icon-headphones:before {
  content: "\e91c";
}
.icon-headset:before {
  content: "\e91c";
}
.icon-music:before {
  content: "\e91c";
}
.icon-audio:before {
  content: "\e91c";
}
.icon-download:before {
  content: "\e91d";
}
.icon-save:before {
  content: "\e91d";
}
.icon-store:before {
  content: "\e91d";
}
.icon-folder-open:before {
  content: "\e91e";
}
.icon-directory:before {
  content: "\e91e";
}
.icon-category:before {
  content: "\e91e";
}
.icon-browse:before {
  content: "\e91e";
}
.icon-mobile:before {
  content: "\e91f";
}
.icon-cell-phone:before {
  content: "\e91f";
}
.icon-handheld:before {
  content: "\e91f";
}
.icon-cogs:before {
  content: "\e920";
}
.icon-gears:before {
  content: "\e920";
}
.icon-preferences:before {
  content: "\e920";
}
.icon-settings:before {
  content: "\e920";
}
.icon-generate:before {
  content: "\e920";
}
.icon-control:before {
  content: "\e920";
}
.icon-options:before {
  content: "\e920";
}
.icon-phone:before {
  content: "\e921";
}
.icon-telephone:before {
  content: "\e921";
}
.icon-contact:before {
  content: "\e921";
}
.icon-support:before {
  content: "\e921";
}
.icon-call:before {
  content: "\e921";
}
.icon-embed:before {
  content: "\e922";
}
.icon-code:before {
  content: "\e922";
}
.icon-html:before {
  content: "\e922";
}
.icon-xml:before {
  content: "\e922";
}
.icon-display:before {
  content: "\e923";
}
.icon-screen:before {
  content: "\e923";
}
.icon-monitor:before {
  content: "\e923";
}
.icon-computer1:before {
  content: "\e923";
}
.icon-desktop:before {
  content: "\e923";
}
.icon-pc:before {
  content: "\e923";
}
.icon-laptop1:before {
  content: "\e924";
}
.icon-computer2:before {
  content: "\e924";
}
.icon-pc1:before {
  content: "\e924";
}
.icon-twitter:before {
  content: "\e925";
}
.icon-flask:before {
  content: "\e926";
}
.icon-clock-o:before {
  content: "\e927";
}
.icon-phone-square:before {
  content: "\e928";
}
.icon-pencil:before {
  content: "\e929";
}
.icon-line-chart:before {
  content: "\e92a";
}
.icon-handshake-o:before {
  content: "\e92b";
}
.icon-globe:before {
  content: "\e92c";
}
.icon-cloud-download:before {
  content: "\e92d";
}
.icon-cloud:before {
  content: "\e92e";
}
.icon-group:before {
  content: "\e92f";
}
.icon-users:before {
  content: "\e92f";
}
.icon-briefcase:before {
  content: "\e930";
}
.icon-paper-plane:before {
  content: "\e931";
}
.icon-send:before {
  content: "\e931";
}
