// ==========================================================================
// Icons
// ==========================================================================

// Logo

// UI

// Custom Icon Sets
.icon-5stars:after {
  content: "\e9d9 \e9d9 \e9d9 \e9d9 \e9d9";
  color: orange;
  font-size: 50px;
  letter-spacing: 0.1em;
}

// Icons from Icomoon
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-file:after {
  content: "\e91b";
}
.icon-paper:after {
  content: "\e91b";
}
.icon-bullhorn:after {
  content: "\e91a";
}
.icon-folder-open:after {
  content: "\e930";
}
.icon-ticket:after {
  content: "\e939";
}
.icon-phone:after {
  content: "\e942";
}
.icon-display:after {
  content: "\e956";
}
.icon-laptop:after {
  content: "\e957";
}
.icon-mobile:after {
  content: "\e958";
}
.icon-menu:after {
  content: "\e9bd";
}
.icon-cloud:after {
  content: "\e9c1";
}
.icon-download3:after {
  content: "\e9c7";
}
.icon-star-full:after {
  content: "\e9d9";
}
.icon-arrow-up2:after {
  content: "\ea3a";
}
.icon-arrow-right2:after {
  content: "\ea3c";
}
.icon-arrow-down2:after {
  content: "\ea3e";
}
.icon-arrow-left2:after {
  content: "\ea40";
}
.icon-embed2:after {
  content: "\ea80";
}
.icon-facebook:after {
  content: "\ea90";
}
.icon-instagram:after {
  content: "\ea92";
}
.icon-twitter:after {
  content: "\ea96";
}
.icon-linkedin2:after {
  content: "\eaca";
}
.icon-dollar:after {
  content: "\e912";
}
.icon-bill:after {
  content: "\e912";
}
.icon-money:after {
  content: "\e912";
}
.icon-paperplane:after {
  content: "\e907";
}
.icon-search:after {
  content: "\e904";
}
.icon-hard-drive:after {
  content: "\e910";
}
.icon-arrow-shuffle:after {
  content: "\e908";
}
.icon-speed:after {
  content: "\e918";
}
.icon-computer:after {
  content: "\e90e";
}
.icon-compare_arrows:after {
  content: "\e909";
}
.icon-mouse:after {
  content: "\e906";
}
.icon-school:after {
  content: "\e902";
}
.icon-security:after {
  content: "\e903";
}
.icon-phone_in_talk:after {
  content: "\e900";
}
.icon-question:after {
  content: "\e91f";
}
.icon-lock-closed:after {
  content: "\e91c";
}
.icon-shopping-cart:after {
  content: "\e919";
}
.icon-envelope:after {
  content: "\e913";
}
.icon-headphones:after {
  content: "\e911";
}
.icon-briefcase:after {
  content: "\e90d";
}
.icon-bar-graph:after {
  content: "\e901";
}
.icon-flask:after {
  content: "\e91e";
}
.icon-clock-o:after {
  content: "\e91d";
}
.icon-handshake-o:after {
  content: "\e916";
}
.icon-phone-square:after {
  content: "\e917";
}
.icon-line-chart:after {
  content: "\e915";
}
.icon-pencil:after {
  content: "\e914";
}
.icon-group:after {
  content: "\e90f";
}
.icon-globe:after {
  content: "\e90a";
}
.icon-cloud-download:after {
  content: "\e90b";
}
.icon-cogs:after {
  content: "\e90c";
}
.icon-gears:after {
  content: "\e90c";
}
.icon-chat:after {
  content: "\e905";
}

