// ==========================================================================
// Icons
// ==========================================================================

// Icons from Icomoon
.icon {
  display: inline-block;
  width: 32px;
  margin: auto;
}

// Logo

// UI
