// extends for search
%input-search {
  font-size: 0.875rem;
  outline: none;

  input {
    background-color: transparent;
    border: none;
    &:focus-visible {
      outline: none;
    }
  }
  button {
    border: none;
  }
}

// At the moment it is the mobile only search bar for the header.
.input-search-1 {
  @extend %input-search;
  margin-top: 10px;
  background-color: palette(inputs, search1);
  border: 1px solid palette(inputs, search1, border);
  width: 100%;
  position: relative;
  input {
    padding: 15px 40px 15px 15px;
    width: 100%;
  }
  button {
    position: absolute;
    right: 0;
    background-color: transparent;
    font-size: 2rem;
    padding-right: 5px;
    height: 100%;
    cursor: pointer;
    span {
      display: block;
      margin: auto 0;
    }
  }
}

// The other type of search area
.input-search-2 {
  @extend %input-search;
  margin-left: 20px;
  background-color: transparent;
  display: flex;
  align-items: center;
  input {
    flex: 1;
    width: 174px;
    @include mq(xl) {
      width: 240px;
    }
    padding: 0 10px;
    border: 1px solid palette(inputs, search2, border);
    display: flex;
    // I don't like how this is setup with defined height, it would be annoying to change with other elements. Maybe change this later. Other options: 
    // - add border too all header elements making them level and add border on search container instead of input - would break how this focus element works (wouldn't match the netmatters website). 
    // - set height for buttons container and then use flexboxes or something to make buttons conform to that - but that is almost as bad as this. 
    height: 56px;
    &:focus {
      border-color: palette(inputs, search2, focus);
      box-shadow: 0 0 8px rgba(91, 192, 222, .6);
    }
  }
  button {
    @extend %btn;
    font-size: 33px;
    padding-left: 15px;
    padding-right: 15px;
    height: 56px;
    border-radius: 0 $br--radius-small $br--radius-small 0;
    cursor: pointer;
    @include dark-colour(background-color, inputs, search2);
    margin: 0;
  }
}