// ==========================================================================
// Nav
// ==========================================================================

nav {
  background-color: palette(header, nav);
}

// Layout - media queries handled in header partial.
.nav-items {
  display: flex;
  text-align: center;
  > [class^="nav-item"] {
    flex: 1;
  }
  padding: 0 15px;
}
[class^="nav-item-section-"] {
  padding-top: 15px;
  padding-bottom: 15px;
}

// Catagory specific colouring
.nav-item-section- {
  @include services;
}
.nav-item-icon {
  font-size: 1.5rem;
  margin-bottom: 0.25rem;
}

// Text formatting
[class^="nav-item-text-"] {
  color: $white;
  text-transform: uppercase;
}
.nav-item-text- {
  &small {
    font-size: 0.625rem;
  }
  &large {
    font-size: 1.125rem;
  }
}

// Large Hover element
[class^="nav-item-section-"] {
  &:hover {
    .nav-item-expand {
      display: block;
    }
    .nav-item-icon {
      color: $white;
    }
  }
}
.nav-item-expand {
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  width: 100%;
  text-align: left;
  color: $white;
  &-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  h2 {
    font-size: 2rem;
    font-weight: $font-w-normal;
    margin: 0.5rem 0;
  }
  .container {
    padding-bottom: 1.5rem;
  }
}

// This is the little arrow that continues from the initial hover element. 
.nav-item-expand-accent {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}
.nav-item-expand-accent-arrow {
  $border-arrow-sides-l: calc((#{$cont-max-width-l} - (#{$global-padding} * 2)) / 14);
  border-left: $border-arrow-sides-l solid transparent;
	border-right: $border-arrow-sides-l solid transparent;
  @include mq(xl) {
    $border-arrow-sides-xl: calc((#{$cont-max-width} - (#{$global-padding} * 2)) / 14);
    border-left: $border-arrow-sides-xl solid transparent;
    border-right: $border-arrow-sides-xl solid transparent;
  }
}

// Nav expand text formatting
.nav-item-expand-content-link {
  display: flex;
  align-items: center;
  margin: 1.5rem 0;
  span {
    font-size: 1.2rem;
  }
}
.nav-item-expand-text {
  margin-left: 0.5rem;
}