// ==========================================================================
// Nav
// ==========================================================================

nav {
  background-color: palette(header, nav);
}

// Layout - media queries handled in header partial.
.nav-items {
  display: flex;
  text-align: center;
  > [class^="nav-item"] {
    flex: 1;
  }
  padding: 0 15px;
}
[class^="nav-item-section-"] {
  padding-top: 15px;
  padding-bottom: 15px;
}

// Catagory specific colouring
.nav-item-section- {
  @include services;
}

.nav-item-icon {
  font-size: 1.5rem;
  margin-bottom: 0.25rem;
}

// .nav-item-expand-content-link > [class^="icon-"], .nav-item-icon, .nav-item-text-small, .nav-item-text-large {
//   text-decoration: none;
// }

// Text formatting
[class^="nav-item-text-"] {
  color: $white;
  text-transform: uppercase;
}
.nav-item-text- {
  &small {
    font-size: 0.625rem;
  }
  &large {
    font-size: 1.125rem;
  }
}

// Large Hover element
[class^="nav-item-section-"] {
  &:hover {
    .nav-item-expand {
      display: block;
    }
    .nav-item-icon {
      color: $white;
    }
  }
}
.nav-item-expand {
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  width: 100%;
  text-align: left;
  color: $white;
  &-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  h2 {
    font-size: 2rem;
    font-weight: $font-w-normal;
    margin: 0.5rem 0;
  }
  .container {
    padding-bottom: 1.5rem;
  }
}

// This is the little arrow that continues from the initial hover element. 
.nav-item-expand-accent {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}
.nav-item-expand-accent-arrow {
  $border-arrow-sides-l: calc((#{$cont-max-width-l} - (#{$global-padding} * 2)) / 14);
  border-left: $border-arrow-sides-l solid transparent;
	border-right: $border-arrow-sides-l solid transparent;
  @include mq(xl) {
    $border-arrow-sides-xl: calc((#{$cont-max-width} - (#{$global-padding} * 2)) / 14);
    border-left: $border-arrow-sides-xl solid transparent;
    border-right: $border-arrow-sides-xl solid transparent;
  }
}

// Nav expand text formatting
.nav-item-expand-content-link {
  display: flex;
  align-items: center;
  margin: 1rem 0;
  span {
    font-size: 1.2rem;
  }
}
.nav-item-expand-text {
  margin-left: 0.5rem;
}


// Sidenav ================================================================================
.sidenav {
  // Position on page
  position: fixed;
  top: 0;
  right: 0;
  z-index: -1;
  // Size
  height: 100%;
  width: $sidenav-width;
  @include mq(l) {
    width: $sidenav-width-large;
  }
  // overflow
  overflow-y: scroll;
  overflow-x: hidden;

  // styling
  background-color: palette(sidebar,background,base);

  * {
    display: block;
    width: 100%;
    text-transform: uppercase;
  }
}
[class^="sidenav-service-container-"] {
  padding-top: 1.25rem;
}
.sidenav-service-container- {
  @include services;
}

.sidenav-top {
  padding: 1.25rem;
  text-align: center;
  ul {
    $list-border-radius: $br--radius-small;
    padding-top: 1.25rem;
    li {
      &:first-child {
        border-top-left-radius: $list-border-radius;
        border-top-right-radius: $list-border-radius;
      }
      &:last-child {
        border-bottom-left-radius: $list-border-radius;
        border-bottom-right-radius: $list-border-radius;
      }
      background-color: palette(sidebar, background, alt);
      border-top: palette(sidebar,buttons,alt-border);
      a {
        padding: 10px;
        border-top: palette(sidebar,buttons,alt-inner-border);
      }
    }
  }
}

.sidenav-bottom {
  *:hover {
    text-decoration: none;
  }
  &-header {
    border-top: palette(sidebar,buttons,border);
    > span {
      padding: 20px;
      border-top: palette(sidebar, buttons, outline);
    }
  }
  ul {
    background-color: palette(sidebar, background, alt);
    li {
      border-top: palette(sidebar,buttons,alt-border);
      a {
        border-top: palette(sidebar,buttons,alt-inner-border);
        padding: 15px 20px;
        font-size: 0.875rem;
        &:before {
          // icomoon icon-double_arrow
          @include icomoon;
          content: "\e932";
          font-size: 0.5rem;
          padding-right: 15px;
        }
      }
    }
  }
}
.sidenav-bottom-container {
  &:hover {
    .sidenav-bottom-header {
      background-color: palette(sidebar,background,hover);
    }
  }
}
.sidenav-mq-mobile-only {
  @include mq(l) {
    display: none;
  }
}
.sidenav-mq-desktop-only {
  display: none;
  @include mq(l) {
    display: block;
  }
}