// Section Headings
.module-news-header {
  @include section-heading;
  &-top {
    h2 {
      font-size: 2rem;
      font-weight: $font-w-light-bold;
    }
    a {
      font-size: 1.625rem;
    }
  }
}

// Articles layout
.module-news-articles {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: $g-gutter-width;
  padding-top: $global-padding; // for hover effect while keeping overflow hidden
  padding-bottom: $global-padding; // to not interfere with the container class.
  @include mq(m) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-auto-rows: 0;
    overflow-y: hidden;
    // This is a bad hack to not show hidden items that have border shadows.
    padding-bottom: 0;
    [class^="module-news-article-"]:nth-child(n + 3) {
      box-shadow: 0 0 0 0;
    }
  }
  @include mq(xl) {
    grid-template-columns: repeat(3, 1fr);
    // This is a bad hack to not show hidden items that have border shadows.
    padding-bottom: $global-padding;
    [class^="module-news-article-"]:nth-child(n + 3) {
      @include box-shadow;
    }
  }
}

// Single Article
[class^="module-news-article-"] {
  @extend %flex-column;
  @include box-shadow;
  position: relative;
  z-index: 1;
  @include hover-lift;
}

.module-news-item-link {
  display: block;
  z-index: 2;
  position: absolute;
  inset: 0;
}
.module-news-item-content {
  @extend %flex-column;
  z-index: 1;
}

.module-news-image {
  width: 100%;
  position: relative;
  margin-bottom: 0;

  img {
    width: 100%;
    display: block;
    aspect-ratio: 16 / 9;
  }
}
.module-news-item-text {
  @extend %flex-column;
  justify-content: space-between;
  border: 1px solid $br--color;
  padding: 30px;
  h4 {
    margin-top: 0;
    min-height: 3rem;
    @extend %text-bold;
    line-height: 1.5rem;
  }
  &-top {
    p {
      margin-top: 0;
      font-size: 13px;
      color: palette(news, text);
      line-height: 1.375rem;
    }
  }
  hr {
    margin: 1.5rem 0;
  }
}
.module-news-item-author {
  img {
    border-radius: 50%;
    float: left;
  }
}
.module-news-item-author-text {
  display: inline-block;
  margin-left: 20px;
  font-size: 14px;
  strong {
    @extend %text-bold;
  }
  p {
    margin: 0.5rem 0 0;
    color: palette(news, text);
  }
}

// article type colouring
.module-news-article {
  &-case-studies {
    h4 {
      color: palette(news, case-studies);
    }
  }
  &-careers {
    h4 {
      color: palette(news, careers);
    }
  }
  &-news {
    h4 {
      color: palette(news, news);
    }
  }
}