.module-news-articles {
  display: flex;
  flex-wrap: wrap;
  @include mq(m) {
    overflow: hidden;
  }
}

[class^="module-news-article-"] {
  flex: 100%;
  @include mq(m) {
    flex: 50%;
  }
  display: flex;
  position: relative;
}

[class^="module-news-article-"] + [class^="module-news-article-"] {
  .module-news-item-content, .module-news-item-link {
    margin-top: 1.5rem;
    @include mq(m) {
      margin-top: 0;
      margin-left: 1.5rem;
    }
  }
}
.module-news-item-link {
  display: block;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
}
.module-news-item-content {
  z-index: 0;
}

.module-news-image {
  width: 100%;
  position: relative;
  margin-bottom: 0;

  img {
    width: 100%;
    display: block;
  }
}
.module-news-item-text {
  border: 1px solid $br--color;
  padding: 30px;
  h4 {
    margin-top: 0;
  }
  hr {
    margin: 1.5rem 0;
  }
}
.module-news-item-author {
  img {
    border-radius: 50%;
    float: left;
  }
}
.module-news-item-author-text {
  display: inline-block;
  margin-left: 1.5rem;
  p {
    margin: 0.5rem 0 0;
  }
}

// article type colouring
.module-news-article {
  &-case-studies {
    h4 {
      color: $news-case-studies;
    }
  }
  &-careers {
    h4 {
      color: $news-careers;
    }
  }
  &-news {
    h4 {
      color: $news-news;
    }
  }
}