// overlaying link to read more 
[class^="module-news-article-"] {
  display: flex;
  position: relative;
}
[class^="module-news-item-link"] {
  display: block;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
}
[class^="module-news-item-content"] {
  z-index: 0;
}

.module-news-image {
  width: 100%;
  position: relative;
  margin-bottom: 0;

  img {
    width: 100%;
    display: block;
  }
}
.module-news-item-text {
  border: 1px solid $br--color;
  padding: 30px;

  h4 {
    margin-top: 0;
  }
}
.module-news-item-author {
  img {
    display: inline-block;
  }
}

