// Layout
.module-services-grid- {
  &top, &bottom {
    display: grid;
    gap: $g-gutter-width;
    grid-template-columns: 1fr;
    margin-top: $g-gutter-width;
  }
  &top {
    @include mq(l) {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  &bottom {
    @include mq(m) {
      grid-template-columns: repeat(2, 1fr);
    }
    @include mq(xl) {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}

// Section Header Styling
[class^="module-services-header"] {
  @extend %section-heading;
}
.module-services-header-bottom {
  margin: 30px auto 15px;
  a {
    display: block;
  }
  @include mq(m) {
    display: none;
  }
}

// Container styling
[class^="module-services-item-container-"] {
  @extend %text-remove-decoration;
  @include box-shadow;
  border: 1px solid $br--color;
  border-radius: $br--radius-large;
  padding: 30px;
  @include hover-lift;
}
.module-services-item-content {
  display: block;
  text-align: center;
  color: palette(general, text);
  h3 {
    font-weight: $font-w-normal;
  }
}
.module-services-item-container- {
  @include services;
}

// Element Styling
.module-services-icon {
  // Layout
  display: inline-flex;
  align-items: center;
  justify-content: center;
  // Styling
  border-radius: 50%;
  width: 5.75rem;
  height: 5.75rem;
  // Text/Icon Size
  font-size: 3rem;
}
.module-services-description {
  font-size: 0.8125rem;
  margin-bottom: 1rem;
}





