.module-welcome {
  @include text-color;
  background-color: $background-secondary;
  padding: 50px 0;
  position: relative;
}

.module-welcome-row {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  @include mq(l) {
    column-gap: $g-gutter-width;
    grid-template-columns: repeat(2, 1fr);
  }
}

.module-welcome-buttons {
  padding: 0;
}

